// Define desired color palettes.
$primary: "teal";
$accent: "light-blue";

$warn: "pink";

$white: #fff;
$black:							#0c0c0c;
$color-threshold:				72%;

$brand-primary:				    #0aa89e;

$gray-lightest:					hsl(hue($brand-primary), 3%, 95%);
$gray:							hsl(hue($brand-primary), 3%, 33.5%);

$gutter-size:					4px;
$menubar-gap:					($gutter-size * 3);
$weight-medium:					500;
$weight-normal:					400;

$menubar-bg:					$gray-lightest;
$menubar-font-size: 12px;
$menubar-color:					fade($black, 85%);
$menubar-icon-width:			40px;
$menubar-width-collapsed:		$menubar-icon-width + ($menubar-gap * 2);


$menubar-link-hover:			fade($black, 7%);
$menubar-link-active:			$white;
$menubar-link-hover-color:		$black;
$menubar-link-active-color:		$brand-primary;
$menubar-folder-color:			fade($menubar-color, 75%);
$menubar-icon-color:			$gray;
$menubar-icon-bg-hover:			fade($black, 7%);
$menubar-icon-color-hover:		$white;
$menubar-icon-bg-active:		$white;
$menubar-icon-color-active:		$brand-primary;

$menubar-tree-border-color:		fade(contrast($menubar-bg, $black, $white, $color-threshold), 30%);
$menubar-tree-width:			21px;
$menubar-tree-indent:			57px;
$menubar-tree-indent-level1:	30px;
$menubar-tree-indent-level2:	$menubar-tree-indent-level1 + $menubar-tree-width;
$menubar-tree-indent-level3:	$menubar-tree-indent-level2 + $menubar-tree-width;
$menubar-tree-indent-level4:	$menubar-tree-indent-level3 + $menubar-tree-width;
$menubar-tree-indent-level5:	$menubar-tree-indent-level4 + $menubar-tree-width;

@import 'ember-paper';
@import "bootstrap";
//@import "main.scss";
@import "table.scss";
@import "gui-controls.scss";

// Tabbable tabs
// -------------------------

// Hide tabbable panes to start, show them when `.active`
.tab-content {
  > .tab-pane {
    display: none;
    visibility: hidden;
  }
  > .active {
    display: block;
    visibility: visible;
  }
}

//@import "style-responsive.scss";
.form-wizard.form-wizard-horizontal {
	position: relative;
	
	.form-wizard-nav {
		
		.progress { 
			position: absolute;
			display: inline-block;
			top: 23px; left: 0; right: 0;
			margin: auto;
			height: 10px;
			
			@media (max-width: ($screen-sm - 1px)) {
				display: none;
			}
		}
	}
	
	.nav {
		position: relative;
		
		a {
			margin-bottom: 15px;
		}
		
		li.active,
		li:hover {
			a {
				color: inherit;
				background-color: transparent;
			}
			.step {
				transition: border-color 0.40s linear;
				border-color: $brand-primary;
			}
			.title {
				color: $text-color;
			}
		}
		li.done {
			.step {
				color: $white;
				border-color: $brand-primary;
				background-color:$brand-primary;
				font-weight: 14;
				transition: background-color 0.20s linear;
			}
		}
		
		.step {
			display: inline-block;
			line-height: 28px;
			width: 36px;
			height: 36px;
			border-radius: 999px;
			border: 4px solid $gray-lighter;
			background: $white;
		}
		.title {
			position: absolute;
			width: 100%;
			left: 0;
			bottom: -15px;
			color: $gray-light;
		}
	}
}




.menu-item {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;

    .expand-icon {
      position: relative;
      right: -36px;
      transition: transform 250ms linear;
    }

    &.expanded .expand-icon {
      transform: rotate(-180deg);
    }
  }

  .submenu-item {
    .md-list-item-inner {
      padding-left: 36px;
    }
  }

  .menu-item, .submenu-item {
    min-height: 40px;

    &.active, &:hover {
      background-color: rgba(#fff, .1);
    }

    .md-list-item-inner {
      min-height: 40px;

      md-icon {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }


.doc-code-example {
  /* Initially we don't want any height, and we want the contents to be hidden */
  max-height: 0;
  overflow: hidden;

  /* Set our transitions up. */
  -webkit-transition: max-height 1s;
  -moz-transition: max-height 1s;
  transition: max-height 1s;

  /* On hover, set the max-height to something large. In this case there's an obvious limit. */
  &.is-visible {
    max-height: 400px;
    overflow-y: scroll;
  }
  pre {
    margin-top: 0;
  }
}

.working-area {
    background-color: color($primary, '200');
}

.side-menu {
    background-color: color($primary, '300');
}

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}


@import "ember-power-select";
