{{#paper-card}}
    {{#paper-toolbar accent=true}}
        {{#paper-toolbar-tools}}
        <h2>Versions</h2>
        {{/paper-toolbar-tools}}
    {{/paper-toolbar}}
    {{paper-divider}}
    <!-- Can we use paper-list here? -->
    {{#paper-content}}
        <div>
            Authentication Server: 5.9.3.0323
        </div>
        <div>
            Management Console: 5.9.3.0323
        </div>      
    {{/paper-content}}

{{/paper-card}}

{{#paper-card}}
    {{#paper-toolbar accent=true}}
        {{#paper-toolbar-tools}}
        <h2>License Status</h2>
        {{/paper-toolbar-tools}}
    {{/paper-toolbar}}
    {{paper-divider}}
    <!-- Can we use paper-list here? -->
    {{#paper-content}}
        <div>
            Authentication Server: 5.9.3.0323
        </div>
        <div>
            Management Console: 5.9.3.0323
        </div>      
    {{/paper-content}}

{{/paper-card}}

{{#paper-card}}
    {{#paper-toolbar accent=true}}
        {{#paper-toolbar-tools}}
        <h2>Permissions</h2>
        {{/paper-toolbar-tools}}
    {{/paper-toolbar}}
    {{paper-divider}}
    <!-- Can we use paper-list here? -->
    {{#paper-content}}
        <div>
            Authentication Server: 5.9.3.0323
        </div>
        <div>
            Management Console: 5.9.3.0323
        </div>      
    {{/paper-content}}

{{/paper-card}}

{{#paper-card}}
    {{#paper-toolbar accent=true}}
        {{#paper-toolbar-tools}}
        <h2>Warnings & Tasks</h2>
        {{/paper-toolbar-tools}}
    {{/paper-toolbar}}
    {{paper-divider}}
    <!-- Can we use paper-list here? -->
    {{#paper-content}}
        <div>
            Authentication Server: 5.9.3.0323
        </div>
        <div>
            Management Console: 5.9.3.0323
        </div>      
    {{/paper-content}}

{{/paper-card}}