{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    <h2>Service Providers</h2>

    <span class="flex"></span>
{{#link-to 'service-providers.index' tagName="li"}}<a href="">List all</a>{{/link-to}}
{{#link-to 'service-providers.new' tagName="li"}}<a href="">Add new</a>{{/link-to}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

{{outlet}}
