<!--
{{#paper-toolbar accent=true}}
  {{#paper-toolbar-tools}}
    <h3>Service Providers</h3>
    <span class="flex"></span>
    {{#paper-button raised=true onClick=(action 'addSP') }}{{paper-icon "add box"}}Add{{/paper-button}}

{{#paper-button raised=true onClick=(action 'editSP')}}{{paper-icon "mode edit"}} Edit SP{{/paper-button}}
{{#paper-button raised=true onClick=(action 'deleteSP')}}{{paper-icon "delete forever"}} Remove SP{{/paper-button}}
    
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}
-->
{{outlet}}
